:root {
    --clr-bg: #fafafa;
    --clr-base-font: #1b1b1b;
    --clr-black: #1b1b1b;
    --clr-white: #fafafa;
    --clr-nav: #ebebeb;
    --clr-nav-font: #1b1b1b;
}

.dark-theme {
    --clr-bg: #1b1b1b;
    --clr-base-font: #fafafa;
    --clr-black: #1b1b1b;
    --clr-white: #ffffff;
    --clr-nav: #010101;
    --clr-nav-font: #fafafa;
}

.pink-theme {
    --clr-bg: #FDF2F8;
    --clr-base-font: #831843;
    --clr-black: #1b1b1b;
    --clr-white: #ffffff;
    --clr-nav: #BE185D;
    --clr-nav-font: #FDF2F8;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--clr-bg);
    font-size: 1rem;
    font-family: monospace;
    color: var(--clr-base-font)
}

ul {
    line-height: 1.8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background: var(--clr-nav);
    font-size: 1.5rem;
    font-weight: 300;
    position: sticky;
    top: 0;
    z-index: 10;
    color: var(--clr-nav-font);

    & ul {
        display: flex;
        gap: 1rem;
        font-size: 1rem;
    }

    & li {
        list-style-type: none;
        
        & a {
            text-decoration: none;
            color: var(--clr-nav-font);
            transition: color 300ms ease-in;
            position: relative;
            }   
        }
}

header select {
    border-radius: 4px;
    padding-inline: .5rem;
    border: none;
    background: none;
    color: grey;
    outline: none; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid grey;
    mix-blend-mode:luminosity;
}


header li a:after {
    content:"";
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: .2rem;
    opacity: 0;
    left: 0;
    background: var(--clr-black);
    transition: opacity 300ms ease-in, bottom 200ms ease-in, height 200ms ease-in;
}   

header li a:hover:after {
    content:"";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -.4rem;
    opacity: 1;
    left: 0;
    background: var(--clr-black);
}   

section {
    padding: 1rem 3rem;
    color: var(--clr-base-font);
    position: sticky;
    /*  top: 4rem; /* Use for sticky */
    scroll-margin-top: 4rem; /* Working top margin */
    background: var(--clr-bg);
    border-top: 1px solid rgba(60, 60, 60, .2);

}

.flag {
    width: 275px;
    aspect-ratio: 16/9;
    background: #BA0C2F;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.cross-hor {
    width: 100%; 
    height:24px;
    background: #00205B;
    position: absolute;
    top: calc(50% - 12px);
    outline: 15px solid white
}

.cross-ver-1 {
    width: 24px; 
    top:0;
    height:calc(50% - 12px);
    background: #00205B;
    position: absolute;
    left: 25%;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
}
.cross-ver-2 {
    width: 25px; 
    bottom:0;
    height:calc(50% - 12px);
    background: #00205B;
    position: absolute;
    left: 25%;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
}

.card {
    background: var(--clr-nav);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--clr-nav-font);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 200ms ease-in;

    &:hover {
        filter: brightness(106%);
    }


}

.fullwidth {
    grid-column: span 2;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    color: var(--clr-nav-font);
    background: var(--clr-nav);

    & p {
        font-size: .825rem;
        opacity: .8;
    }
}

@media (max-width:480px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 100px 100px;
        gap: 1rem;
    }

    .card {
        aspect-ratio: unset;
    }

    .fullwidth {
        grid-column: 1;
    }
}